/* Stylesheet */

body {
    background: #ffffff;
}

.topnav {
    padding: 10px 0 10px 0;
    background: #000;
    color: #fff;
}

.taft {
    /*background: #999;*/
    padding: 40px 0 40px 0;
    /*border: 1px solid #ff0000;*/
    min-height: 100px;
}

.logo {
    color: #5e1212;
    text-shadow: 2px 2px 2px #999;
    padding: 0 0 0 20px;
    font-size: 42px;
    font-family: "Racing Sans One" cursive;
}

.phone {
    color: #5e1212;
    font-size: 18px;
    font-family: "Racing Sans One" cursive;
}

.chat {
    color: #5e1212;
    font-size: 18px;
    font-family: "Racing Sans One" cursive;
}

.market {
    
}

.pricing {
    color: #ff0000;
    padding: 20px 20px 20px 20px;
}
