/* Stylesheet */

body {
    background: #555555;
}

.whole {
    background: #000;
}

.topnav {
    
}

.topnav .navbar {
    margin: 0 0 0 0;
    background: transparent;
    position: relative;
    top: 0px;
    left: 0px;
    max-width: 100%;
    padding: 0px;
    font-size: 12px;
    /*border-bottom: 1px solid #fff;*/
}

.navbar li a {
    line-height: 20px;
}

.taft {
    background: #000;
    /*padding: 40px 0 40px 0;*/
    /*border: 1px solid #ff0000;*/
    /*min-height: 100px;*/
}

.logo {
    color: #a92800;
    /*text-shadow: 1px 1px 1px #d5d5d5;*/
    padding: 10px 0 20px 20px;
    font-size: 42px;
    font-family: "Racing Sans One" cursive;
}

.phone {
    padding: 18px 0 0 0;
    color: #a92800;
    font-size: 20px;
    font-family: "Racing Sans One" cursive;
}

.chat {
    padding: 18px 0 0 0;
    color: #a92800;
    font-size: 20px;
    font-family: "Racing Sans One" cursive;
}

.market {
    
}

.navbar {
    max-width: 75%;
    position: relative;
    top: -25px;
    left: 150px;
}

.pricing {
    margin: 0 0 20px 0;
    /*background: #333;*/
    color: #ff0000;
    padding: 0 20px 0 20px;
    border-radius: 4px;
}

/***** TODO - Needs panels inside .info-box styled *****/
.info-box {
    margin-bottom: 20px;
    color: aliceblue;
    background: #333;
    padding: 0 20px 0 20px;
}

hr {
    border-top: 1px solid #fff;
    margin: 0px;
    padding: 0px;
}




